@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');


html{
    background-color: #d1a381 
}
body{
    margin: 15px;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    background-color: #faf6f3;
    box-sizing: border-box;
}
.container{
    max-width: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 2em auto;*/
}

/*header*/

.header{
    display: flex;
    justify-content: flex-start;
    background-color: #534741;
    padding: 5px;
    padding-left: 2em;
}

.header_pic img{
    margin: 13%;
    width:65%;

}
.header_info{
    margin: 1.5em;
    font-size: 100%;
    color: #faf6f3;
}
.infoandtabs_area{
    display: flex;
}

.tabs{
    flex: 0.55;
    text-align: center;
    font-size: 70%;
    background-color: #534741;
    color: #faf6f3;
    height: auto;
    cursor: pointer;
    
}

.tabs h2{
    color: white;
    padding: 25px;
    text-decoration: none;
    display: block;
}
.tabs h2:hover{
    background-color: #af6741;
    color: #faf6f3;
}

.adteachreturn h3{
    text-align: left;
    color: #af6741;
    font-weight: 700;
}

.info_area{
    flex: 4;
    justify-content: space-between;
    background-color: #faf6f3;
    padding: 20px 30px;
    padding-bottom: 15%;
    text-align: center;
    height: 1000px;
    font-weight: bold;
}

  .big {
    border-radius: 25px;
    background-color: #534741;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 20cm;
    width: 85%;
}
.top {
    border-radius: 20px;
    background-color: #d1a381;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    width: 20cm;
    color:white;
    font-size: 26px;
    
}
.medium {
    border-radius: 25px;
    background-color: #b2aba3;
    padding: 15px ;
    color: black;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    padding-bottom: 10cm;
    width: 27cm;
    height : 5cm;
    
}

.comment {
    border-radius: 25px;
    width: 85%;
    height: 3.5cm;
    padding: 15px;
    background-color:#d1a381;
    color:black;
    font-size: 18px;
    font-family: 'Sarabun', sans-serif;
  }
.submit{
 border-radius: 10px;
background-color: #534741;


color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
width: 20%;
margin: 0.25cm;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 5px black;
font-family: 'Sarabun', sans-serif;

}

