@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');

html{
    background-color: #d1a381 
}
body{
    margin: 15px;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    background-color: #faf6f3;
    box-sizing: border-box;
}
.container{
    max-width: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 2em auto;*/
}

.header{
    display: flex;
    justify-content: flex-start;
    background-color: #534741;
    padding: 5px;
    padding-left: 2em;
}

.header_pic img{
    margin: 13%;
    width:65%;

}
.header_info{
    margin: 1.5em;
    font-size: 100%;
    color: #faf6f3;
}
.infoandtabs_area{
    display: flex;
}

.tabs{
    flex: 0.55;
    text-align: center;
    font-size: 70%;
    background-color: #534741;
    color: #faf6f3;
    height: auto;
    cursor: pointer;
    
}

.tabs h2{
    color: white;
    padding: 25px;
    text-decoration: none;
    display: block;
}
.tabs h2:hover{
    background-color: #af6741;
    color: #faf6f3;
}

.info_area{
    flex: 4;
    justify-content: space-between;
    background-color: #faf6f3;
    padding: 20px 30px;
    padding-bottom: 15%;
    text-align: center;
    height: 700px;
}
.officer h3{
    text-align: left;
    color: #af6741;
    font-weight: 700;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 5% ;
    margin-left: 10%;
    text-align: center;
    color: white;
}

td,th{
    border-right: 5px solid white;
    border-collapse: collapse;
}

tr:nth-child(even){
    height: 45px;
    background-color: #d1a381 ;
}

tr:nth-child(odd){
    height: 45px;
    background-color: #534741 ;
}